<form [formGroup]="actaForm" (ngSubmit)="actaForm.valid && saveActa()">
  <div class="ui-g ui-fluid">
    <p-tabView>

      <p-tabPanel header="Información general">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-input" [(ngModel)]="acta.ubicacion" formControlName="ubicacion" pInputText
                placeholder="Ubicación">
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <textarea pInputTextarea class="form-input" [(ngModel)]="acta.contenido" formControlName="contenido"
                pInputText placeholder="Contenido"> </textarea>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <p-dropdown [options]="proyectos" [(ngModel)]="proyecto" formControlName="idProyecto" optionLabel="nombre"
              placeholder="Seleccione un proyecto"> </p-dropdown>
          </div>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Compromisos">
        <form [formGroup]="compromisoForm" (ngSubmit)="compromisoForm.valid && addCompromiso()">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <textarea pInputTextarea class="form-input" [(ngModel)]="descripcionComp"
                  formControlName="descripcionCom" pInputText placeholder="Descripción"> </textarea>
              </div>

              <p-dropdown [options]="participantes" [(ngModel)]="responsable" optionLabel="nombre"
                formControlName="responsable" placeholder="Seleccione un responsable"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-6">
              <p-table [value]="compromisos">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Compromiso</th>
                    <th>Responsable</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-compromiso>
                  <tr>
                    <td>{{compromiso.descripcion}}</td>
                    <td>{{compromiso.nombreParticipante}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-6">
              <button pButton type="submit" [disabled]="!compromisoForm.valid" label="Agregar"></button>
            </div>

            <div class="ui-g-12 ui-md-6">
              <button pButton type="button" label="Cancelar" (click)="cancelComp()"></button>
            </div>
          </div>
        </form>

      </p-tabPanel>

      <p-tabPanel header="Participantes">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-m-12">
            <p-listbox [options]="participantes" [(ngModel)]="partSeleccionados" formControlName="partSeleccionados"
              multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="nombre">
              <p-header>
                <i class="fa fa-user">
                  Participantes
                </i>
              </p-header>
            </p-listbox>
          </div>

          <div class="ui-g-12 ui-md-6">
            <button pButton type="submit" [disabled]="!actaForm.valid" label="Guardar"></button>
          </div>

          <div class="ui-g-12 ui-md-6">
            <button pButton type="button" label="Cancelar" (click)="cancelSave()"></button>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</form>
