<p-toast [style]="{marginTop: '80px'}"></p-toast>
<button pButton type="button" label="Registrar Participante" (click)="openDialog()"></button>
<h3 class="first">Participantes</h3>
<p-table #dt [value]="participantes" [paginator]="true" [rows]="10" [globalFilterFields]="['id','nombre']">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-participante>
        <tr (click)="selectParticipante(participante)">
            <td>{{participante.id}}</td>
            <td>{{participante.nombre}}</td>
        </tr>
    </ng-template>
</p-table>
